
body {
    margin: 0;
}

.home´page {
   width: 300px;
}

.header {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    




}

.header a {
    color: #333;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 32px;
    
    



}

h1 {
    font-family: Gilroy-Bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    


}

p {
    size: 20px;
    line-height: 23.44px;
    color: #888888;
}

.text {

    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Gilroy-Medium;



}

button {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    color: #FFFFFF;
    border-color: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 89, 34, 0.42);
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    



}

.watch-now{
    margin-right: 296px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.top {
    display: flex;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    height: 114px;
    padding: 20px;
    justify-content: space-between;

}

.rectangle10 {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 1170px;
    margin: 0 auto;


}

.rectangle11 {
    width: 589px;
    height: 494px;

}

.rectangle12 {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1170px;
    height: 243px;

    margin: 0 auto;



}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img img {
    margin: 20px;
}
